body{

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.App{
  background-image: url(./background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width:100vw;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}